.downloaderContainer {
  text-align: center;
}
h1 {
  color: #001524;
}
h1 > span {
  font-size: 0.7em;
}
span {
  color: #001524;
}
.urlInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
  transition: box-shadow 0.5s;
}
.urlInput:focus {
  outline: none;
  box-shadow: 1px 2px 5px black;
}

.formatSelector {
  margin-top: 20px;
}
.radio {
  display: inline-block;
}
.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  padding: 8px 10px;
  margin: 10px 0;
  transition: 0.3s;
}
.radioLabel:hover, .radioLabel:focus-within {
  background: rgba(0, 0, 0, 0.075);
}
.radioInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}
.radioDot {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: linear-gradient(to right bottom, #A061FF, #D08FDE);
  transition: 0.3s;
}
.radioDot::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #c0c0c0;
  background: #EFFFFA;
  transform: scale(1);
  transition: 0.3s;
}
.radioText {
  color: rgba(0, 21, 36, 0.582);
  margin-left: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
}
.radioInput:checked~.radioDot::after {
  transform: scale(0);
}

button {
  position: relative;
  cursor: pointer;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  letter-spacing: 2px;
  font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  padding: 10px 20px;
  border: solid 2px #00152480;
  border-radius: 5px;
  background: rgba(68, 68, 68, 0);
  color: #001524c0;
  transition: 0.25s;
}
button:hover {
  box-shadow: inset 0 0 0 2em #00152486;
  color: #EFFFFA;
}
.alert {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px;
  background: #ec1b1b9a;
  color: #fff;
  letter-spacing: 2px;
  font-size: 13px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
  animation: fadeIn 1s ease-in;
}

@media screen and (max-width: 1600px) {
  .downloaderContainer {
    text-align: center;
    width: 400px;
  }
  .urlInput {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 425px) {
  .urlInput {
    width: 80%;
  }
  .alert {
    width: 80%;
    padding: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
