.App {
  text-align: center;
}

main {
  width: 100vw;
  height: 100vh;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
main > h1 {
  margin-top: 0;
  padding-top: 0.67em;
  letter-spacing: 2px;
}

.twitch {
  background: #bf95ff;
  font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.youtube {
  background: #fa6a6a;
  font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
